<div id="page-wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1 id="logo"><a href="index.html">Tokyo de 恋 <span>presented by Tiaju Cup</span></a></h1>
      <nav id="nav">
        <ul>
          <li class="current"><a href="index.html">Welcome</a></li>
          <li class="submenu">
            <a href="#">Layouts</a>
          <li><a href="#" class="button special">Facebookでログイン</a></li>
        </ul>
      </nav>
    </header>

  <!-- Banner -->
    <section id="banner">

      <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
      -->
      <div class="inner">

        <header>
          <h2>skdjfhsdk</h2>
        </header>
        <p>恋カツ＠TOKYOは
        <br>
        東京での皆さんの出会いを
        <br>
        応援します</p>
        <footer>
          <ul class="buttons vertical">
            <li><a href="#main" class="button fit scrolly">参加してみる！</a></li>
          </ul>
        </footer>

      </div>

    </section>

  <!-- Main -->
    <article id="main">

      <header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2>最新の恋活イベントはこちら！</h2>
        <p></p>
      </header>

      <!-- One -->
        <section class="wrapper style2 container special-alt">
          <div class="row 50%">
            <div class="8u 12u(narrower)">

              <header>
                <h2>大学生限定恋活パーティー＠渋谷</h2>
              </header>
              <p><strong>募集人数</strong>：80名（男性40名｜女性40名）
              <br><strong>開催内容</strong>：「大学生限定恋活パーティー＠渋谷」は学生恋愛の活性化を目的に開催しております。地元の担当プロデューサーが厳選した店舗のみで開催される街コンです。地域内の居酒屋、レストラン、カフェ等の協力のもと、全店舗貸し切りにて（一部除く）低料金で合コンを開催します。素敵な異性との出会い！美味しいお店との出会い！色々な業種の人達との出会い！様々な出会いが自然と生まれる街コンです。 </p>
              <footer>
                <ul class="buttons">
                  <li><a href="#" class="button">詳細ページへ</a></li>
                </ul>
              </footer>

            </div>
            <div class="4u 12u(narrower) important(narrower)">

              <ul class="featured-icons">
                <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
                <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
                <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
                <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
                <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
                <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
              </ul>

            </div>
          </div>
        </section>

      <!-- Two -->
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-check"></span>
                <header>
                  <h3>This is Something</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
              </section>

            </div>
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-check"></span>
                <header>
                  <h3>Also Something</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
              </section>

            </div>
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-check"></span>
                <header>
                  <h3>Probably Something</h3>
                </header>
                <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
              </section>

            </div>
          </div>
        </section>

      <!-- Three -->
        <section class="wrapper style3 container special">

          <header class="major">
            <h2>過去に開催したイベント一覧</h2>
          </header>

          <div class="row">
            <div class="6u 12u(narrower)">

              <section>
                <a href="#" class="image featured"><%= image_tag("pic03.jpg") %></a>
                <header>
                  <h3>Hyperspace Travel</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>

            </div>
            <div class="6u 12u(narrower)">

              <section>
                <a href="#" class="image featured"><%= image_tag("pic04.jpg") %></a>
                <header>
                  <h3>And Another Train</h3>
                </header>
                <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
              </section>

            </div>
          </div>

          <footer class="major">
            <ul class="buttons">
              <li><a href="#" class="button">もっとみる</a></li>
            </ul>
          </footer>

        </section>

    </article>

  <!-- CTA -->
    <section id="cta">

      <header>
        <h2>Ready to do <strong>something</strong>?</h2>
        <p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
      </header>
      <footer>
        <ul class="buttons">
          <li><a href="#" class="button special">Take My Money</a></li>
          <li><a href="#" class="button">LOL Wut</a></li>
        </ul>
      </footer>

    </section>

  <!-- Footer -->
    <footer id="footer">

      <ul class="icons">
        <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
      </ul>

      <ul class="copyright">
        <li>&copy; Copyright(c) 2016 TiAgu Cup. All Rights Reserved.</li><!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
      </ul>

    </footer>

</div>